:root {
    --blood_red_palette: #6b0504;
    --blizzard_blue_palette: #B1E5F2;
    --black_coral_palette: #495867;
  }
  
  html,
  body,
  main {
    height: 100%;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .box {
    width: 15vw;
    height: 15vw;
    margin: 5px;
  }
  
  .color1 {
    background-color: var(--blood_red_palette);
  }
  
  .color1_heading {
    color: var(--blood_red_palette);
  }
  
  .color2 {
    background-color: var(--blizzard_blue_palette);
  }
  .color2_heading {
    color: var(--blizzard_blue_palette);
  }
  
  .color3 {
    background-color: var(--black_coral_palette);
  }
  .color3_heading {
    color: var(--black_coral_palette);
  }
  
  .bordered {
    border: 1px solid red;
    margin: 10px;
  }
  
  .box_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  h2 {
    text-align: center;
  }
  
  #box_container {
    flex-wrap: nowrap;
    width: fit-content;
  }
  
  #box_outter_container {
    overflow-x: scroll;
  }
